body{
  background-color: #800000;
}

.logo{
  width: 200px;
  padding: 25px;
}

.redes-sociales{
  width: 35px;
  margin-bottom: 15px;
}
.redes-sociales:hover{
  opacity: 0.5;
}

button[class*="btn-light"] {
  width: 100%;
}
.img-fluid{
  min-width: 50% !important;
}
.fotos {
  width: 100%;
  max-height: 400px;
}

div[class*="row"]{
  margin-top: 15px;
  margin-bottom: 15px;
}
